:root {
  --white30: rgba(255, 255, 255, .3);
  --white40: rgba(255, 255, 255, .4);
  --white60: rgba(255, 255, 255, .6);
  --white100: rgba(255, 255, 255, 1);
  --yellow: #eeb640;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background-color: black;
  color: var(--white100);
}

main{
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 1360px;
  margin: 0 auto;
}
